*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */
.container{
   max-width: 1170px;
   margin: 0 auto;
}

/* TITLE AND PARAGRAPH */
h1{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    color: #e01676;
    font-family: 'Fredoka', sans-serif;
}

p{
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 40px;
}

/* END TITLE AND PARAGRAPH */
/* ROW AND COLUMN */
.row{
    width: 100%;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.column{
    width: calc(100% / 3 - 20px);
    float: left;
    background-color: rgb(10, 10, 59);
    box-shadow: 0 0 10px black;
}
/* END ROW AND COLUMN */
/* PROPERTIES IMG AND TEXT */

img{
    width: 25%;
    float: left;
}

.margin{
    margin-left: 30px;
}

.content-text{
    width: 75%;
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    line-height: 27px;
    font-family: 'Fredoka', sans-serif;
}

.title{
    font-family: 'Fredoka', sans-serif;
    color: white;
}

.subtitle{
    color: white;
}

.mail{
    color: rgb(10, 142, 194);
}

#row-1{
    margin-top: 50px;
}

#row-2{
    margin-top: 50px;
}

#row-3{
    margin-top: 50px;
}
/* END PROPERTIES IMG AND TEXT */
/* FINE CONTAINER */